.price-add-btn {
    float: right;
    padding-top: 15px;
}

.navbar-search {
    padding: 10px;
}

.store-label {
    width: 50px;
}

.text-box-str {
    width: 230px
}

.price-date,.price-weight,.price-value {
    padding-left: 5px;
    float: left;
}

.price-date {
    padding-right: 10px;
}

.price-date
 {
    font-style: italic;    
}

p {
    margin: 0 0 0 !important;
}
.price-add-div {
    background: none repeat scroll 0 0 #ebe7e8;
}

.price-div {
    border-width: 1px;
    border-color: #efefef;
    border-radius: 7px;
    border-style: solid;
}

.price-div {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.price-weight {
    padding-top: 3px; 
    font-weight: bold;
    font-size: 12px;
}

.price-action {
    padding-right: 10px;
    font-weight: bold;
    font-size: 12px;
}

.price-normvalue {
    float: right;
}

.price-title-div,.price-div  {
    width: 100%;
    float: left;
}

.price-info-div {
    width: 50%;
    float: left;
}

.price-titel {
     font-weight: bold;
    font-size: 16px;
}

.price-titel,.price-normvalue {
    background: none repeat scroll 0 0 #ebe7e8;
}

.price-store {
    float: right;
}
.price-normvalue, .price-store {
     font-weight: bold;
    font-size: 14px;
}


.navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
}

body {
    padding-top: 55px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.text-box-num {
    width: 90px
}


input,
select {
    margin-bottom: 1px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}