@model IEnumerable<noteprice.Web.Models.PricieViewModel>
@{
    ViewBag.Title = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Add Price", "Create")
<br/>
<div>
    @using (Ajax.BeginForm("Search", "Price", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "priciesList",
    LoadingElementId = "loader"
}))
    {
        @Html.TextBox("filter")
        <input type="submit" value="Search" />
    }
</div>
<div id="loader" class=" aletr" style="display:none">
    Loading...<img src="~/Content/Images/ajax-loader.gif" />
</div>

@Html.Partial("PriceList")