<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://noteprice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>noteprice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>noteprice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$noteprice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MainDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bv2qd6ys7s.database.windows.net,1433;Initial Catalog=noteprice_db;User ID=mitimer@bv2qd6ys7s;Password=kjankN7aba" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="noteprice.Bl.DataModel.MainDB, noteprice.Bl" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataModel.MainDb.csdl|res://*/DataModel.MainDb.ssdl|res://*/DataModel.MainDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:bv2qd6ys7s.database.windows.net,1433;Initial Catalog=noteprice_db;User ID=mitimer@bv2qd6ys7s;Password=kjankN7aba"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>